<div
	class="em40_header_area_main">

	<!-- HEADER TOP AREA -->
	<div class="techno-header-top">
		<div
			class="container">

			<!-- STYLE 1 LEFT ADDRESS RIGHT ICON  -->

			<div
				class="row">
				<!-- TOP LEFT -->
				<div class="col-xs-12 col-md-8 col-sm-8">
					<div class="top-address">
						<p>
							<a href="mailto:example@example.com">
								<i class="fa fa-envelope-o"></i>example@example.com</a>

							<span>
								<i class="fa fa-map"></i>2/20, Astern Road, USA</span>

							<a href="tel:+880 320 432 242">
								<i class="fa fa-phone"></i>+880 320 432 242</a>

						</p>
					</div>
				</div>
				<!-- TOP RIGHT -->
				<div class="col-xs-12 col-md-4 col-sm-4">
					<div class="top-right-menu">
						<ul class="social-icons text-right">
							<li>
								<a class="facebook social-icon" href="#" title="Facebook">
									<i class="fa fa-facebook"></i>
								</a>
							</li>
							<li>
								<a class="twitter social-icon" href="#" title="Twitter">
									<i class="fa fa-twitter"></i>
								</a>
							</li>
							<li>
								<a class="instagram social-icon" href="#" title="Instagram">
									<i class="fa fa-instagram"></i>
								</a>
							</li>
							<li>
								<a class="dribbble social-icon" href="#" title="Dribbble">
									<i class="fa fa-dribbble"></i>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- STYLE 2 lEFT ICON RIGHT MENU  -->

		</div>
	</div>

	<div class="mobile_logo_area d-sm-block d-md-block d-lg-none">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">

					<div class="mobile_menu_logo text-center">
						<a href="index.html" title="Techno">
							<img src="wp-content/uploads/2021/02/main-logo.png" alt="Techno"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- START HEADER MAIN MENU AREA -->

	<!-- HEADER TRANSPARENT MENU -->

	<div class="techno-main-menu search-menu one_page d-md-none d-lg-block d-sm-none d-none">
		<div class="techno_nav_area scroll_fixed">
			<div class="container">
				<div class="row logo-left align-items-center">
					<div class="col-md-3 col-sm-3 col-xs-4">
						<div class="logo">
							<a class="main_sticky_main_l standard-logo" href="index.html" title="Techno">
								<img src="wp-content/uploads/2021/02/main-logo.png" alt="Techno"/>
							</a>
							<a class="main_sticky_l" href="index.html" title="Techno">
								<img src="wp-content/uploads/2021/02/main-logo.png" alt="Techno"/>
							</a>
						</div>
					</div>
					<div class="col-md-9 col-sm-9 col-xs-8">
						<nav class="techno_menu main-search-menu">
							<div id="mega-menu-wrap-menu-1" class="mega-menu-wrap">
								<div class="mega-menu-toggle">
									<div class="mega-toggle-blocks-left"></div>
									<div class="mega-toggle-blocks-center"></div>
									<div class="mega-toggle-blocks-right">
										<div class='mega-toggle-block mega-menu-toggle-animated-block mega-toggle-block-0' id='mega-toggle-block-0'>
											<button aria-label="Toggle Menu" class="mega-toggle-animated mega-toggle-animated-slider" type="button" aria-expanded="false">
												<span class="mega-toggle-animated-box">
													<span class="mega-toggle-animated-inner"></span>
												</span>
											</button>
										</div>
									</div>
								</div>
								<ul id="mega-menu-menu-1" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="768" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
									<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-7 mega-current_page_item mega-current-menu-ancestor mega-current-menu-parent mega-current_page_parent mega-current_page_ancestor mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-menu-item-5408' id='mega-menu-item-5408'>
										<a class="mega-menu-link" href="index.html" aria-haspopup="true" aria-expanded="false" tabindex="0">Home<span class="mega-indicator"></span>
										</a>
										<ul class="mega-sub-menu">
											<li class='mega-menu-row' id='mega-menu-5408-0'>
												<ul class="mega-sub-menu">
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-5408-0-0'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-7 mega-current_page_item mega-menu-item-5407' id='mega-menu-item-5407'>
																<a class="mega-menu-link" href="index.html">Main Demo</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-10975' id='mega-menu-item-10975'>
																<a class="mega-menu-link" href="new-it-solution/index.html">IT Solution (New)</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-11777' id='mega-menu-item-11777'>
																<a class="mega-menu-link" href="digital-agency-2/index.html">Digital Agency (New)</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-10974' id='mega-menu-item-10974'>
																<a class="mega-menu-link" href="new-startup/index.html">Software & Startup(New)</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-10972' id='mega-menu-item-10972'>
																<a class="mega-menu-link" href="home-seo/index.html">Home SEO (New)</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-10973' id='mega-menu-item-10973'>
																<a class="mega-menu-link" href="insurance/index.html">Insurance (New)</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4890' id='mega-menu-item-4890'>
																<a class="mega-menu-link" href="it-solution-demo-02/index.html">IT Solution Demo 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4891' id='mega-menu-item-4891'>
																<a class="mega-menu-link" href="it-solution-demo-03/index.html">IT Solution Demo 03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4919' id='mega-menu-item-4919'>
																<a class="mega-menu-link" href="it-solution-demo-04/index.html">IT Solution Demo 04</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4913' id='mega-menu-item-4913'>
																<a class="mega-menu-link" href="home-4/index.html">IT Solution Demo 05</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-5408-0-1'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4917' id='mega-menu-item-4917'>
																<a class="mega-menu-link" href="home-8/index.html">IT Solution Demo 06</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5406' id='mega-menu-item-5406'>
																<a class="mega-menu-link" href="it-solution-demo-07/index.html">IT Solution Demo 07</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4916' id='mega-menu-item-4916'>
																<a class="mega-menu-link" href="it-solution-demo-08/index.html">IT Solution Demo 08</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4911' id='mega-menu-item-4911'>
																<a class="mega-menu-link" href="it-solution-demo-09/index.html">IT Solution Demo 09</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4923' id='mega-menu-item-4923'>
																<a class="mega-menu-link" href="it-solution-demo-10/index.html">IT Solution Demo 10</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4912' id='mega-menu-item-4912'>
																<a class="mega-menu-link" href="home-3/index.html">IT Solution Demo 11</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4914' id='mega-menu-item-4914'>
																<a class="mega-menu-link" href="it-solution-demo-12/index.html">IT Solution Demo 12</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4915' id='mega-menu-item-4915'>
																<a class="mega-menu-link" href="it-solution-demo-13/index.html">IT Solution Demo 13</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6172' id='mega-menu-item-6172'>
																<a class="mega-menu-link" href="it-solution-demo-new-01/index.html">IT Solution Demo 14</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6171' id='mega-menu-item-6171'>
																<a class="mega-menu-link" href="it-solution-demo-new-02/index.html">IT Solution Demo 15</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-5408-0-2'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4918' id='mega-menu-item-4918'>
																<a class="mega-menu-link" href="it-startup-demo-01/index.html">IT Startup Demo 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4924' id='mega-menu-item-4924'>
																<a class="mega-menu-link" href="it-startup-demo-02/index.html">IT Startup Demo 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4921' id='mega-menu-item-4921'>
																<a class="mega-menu-link" href="it-startup-demo-03/index.html">IT Startup Demo 03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-11862' id='mega-menu-item-11862'>
																<a class="mega-menu-link" href="https://wp.dreamitsolution.net/techno-multipurpose/techno-crypto/">Crypto Currency 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-11863' id='mega-menu-item-11863'>
																<a class="mega-menu-link" href="https://wp.dreamitsolution.net/techno-multipurpose/techno-crypto/home-2/">Crypto Currency 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4928' id='mega-menu-item-4928'>
																<a class="mega-menu-link" href="odoo-erp-demo/index.html">Odoo ERP Demo</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4905' id='mega-menu-item-4905'>
																<a class="mega-menu-link" href="cyber-security-new/index.html">Demo Cyber Security</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4898' id='mega-menu-item-4898'>
																<a class="mega-menu-link" href="business-demo-01/index.html">Business Demo 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4910' id='mega-menu-item-4910'>
																<a class="mega-menu-link" href="demo-animate-version-01/index.html">Animate Demo 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4906' id='mega-menu-item-4906'>
																<a class="mega-menu-link" href="demo-dark-version-01/index.html">Dark Version 01</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-5408-0-3'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4907' id='mega-menu-item-4907'>
																<a class="mega-menu-link" href="demo-dark-version-02/index.html">Dark Version 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5728' id='mega-menu-item-5728'>
																<a class="mega-menu-link" href="demo-landing-page-01/index.html">Landing Page Demo 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5730' id='mega-menu-item-5730'>
																<a class="mega-menu-link" href="landing-page-demo-01/index.html">Landing Page Demo 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5727' id='mega-menu-item-5727'>
																<a class="mega-menu-link" href="landing-page-demo-03/index.html">Landing Page Demo 03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5726' id='mega-menu-item-5726'>
																<a class="mega-menu-link" href="landing-page-demo-04/index.html">Landing Page Demo 04</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5725' id='mega-menu-item-5725'>
																<a class="mega-menu-link" href="landing-page-demo-05/index.html">Landing Page Demo 05</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5724' id='mega-menu-item-5724'>
																<a class="mega-menu-link" href="landing-page-demo-06/index.html">Landing Page Demo 06</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5723' id='mega-menu-item-5723'>
																<a class="mega-menu-link" href="landing-page-demo-07/index.html">Landing Page Demo 07</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5722' id='mega-menu-item-5722'>
																<a class="mega-menu-link" href="landing-page-demo-08/index.html">Landing Page Demo 08</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5721' id='mega-menu-item-5721'>
																<a class="mega-menu-link" href="landing-page-demo-09/index.html">Landing Page Demo 09</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
											<li class='mega-menu-row' id='mega-menu-5408-1'>
												<ul class="mega-sub-menu">
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-5408-1-0'></li>
												</ul>
											</li>
										</ul>
									</li>
									<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-5491' id='mega-menu-item-5491'>
										<a class="mega-menu-link" href="about-01/index.html" tabindex="0">Company</a>
									</li>
									<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-5497' id='mega-menu-item-5497'>
										<a class="mega-menu-link" href="service-one/index.html" aria-haspopup="true" aria-expanded="false" tabindex="0">Services<span class="mega-indicator"></span>
										</a>
										<ul class="mega-sub-menu">
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4922' id='mega-menu-item-4922'>
												<a class="mega-menu-link" href="it-service-2/index.html">IT Service</a>
											</li>
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4920' id='mega-menu-item-4920'>
												<a class="mega-menu-link" href="industries/index.html">Industries</a>
											</li>
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4899' id='mega-menu-item-4899'>
												<a class="mega-menu-link" href="business-solution/index.html">Business Solution</a>
											</li>
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4926' id='mega-menu-item-4926'>
												<a class="mega-menu-link" href="managed-it-services/index.html">Managed IT Services</a>
											</li>
										</ul>
									</li>
									<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-menu-item-6540' id='mega-menu-item-6540'>
										<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Pages<span class="mega-indicator"></span>
										</a>
										<ul class="mega-sub-menu">
											<li class='mega-menu-row' id='mega-menu-6540-0'>
												<ul class="mega-sub-menu">
													<li class='mega-menu-column mega-menu-columns-2-of-12' id='mega-menu-6540-0-0'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4892' id='mega-menu-item-4892'>
																<a class="mega-menu-link" href="about-01/index.html">About Us Style 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4894' id='mega-menu-item-4894'>
																<a class="mega-menu-link" href="about-02/index.html">About Us Style 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4893' id='mega-menu-item-4893'>
																<a class="mega-menu-link" href="about-03/index.html">About Us Style 03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7890' id='mega-menu-item-7890'>
																<a class="mega-menu-link" href="about-04/index.html">About Us Style 04</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7891' id='mega-menu-item-7891'>
																<a class="mega-menu-link" href="about-05/index.html">About Us Style 05</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5736' id='mega-menu-item-5736'>
																<a class="mega-menu-link" href="why-choose-us/index.html">Why Choose Us</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-2-of-12' id='mega-menu-6540-0-1'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6396' id='mega-menu-item-6396'>
																<a class="mega-menu-link" href="service-one/index.html">Service Style 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6398' id='mega-menu-item-6398'>
																<a class="mega-menu-link" href="service-two/index.html">Service Style 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6397' id='mega-menu-item-6397'>
																<a class="mega-menu-link" href="service-three/index.html">Service Style 03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6395' id='mega-menu-item-6395'>
																<a class="mega-menu-link" href="service-four/index.html">Service Style 04</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7892' id='mega-menu-item-7892'>
																<a class="mega-menu-link" href="service-five/index.html">Service Style 05</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5732' id='mega-menu-item-5732'>
																<a class="mega-menu-link" href="service-details/index.html">Service Details</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-2-of-12' id='mega-menu-6540-0-2'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4933' id='mega-menu-item-4933'>
																<a class="mega-menu-link" href="pricing-plan-01/index.html">Pricing Plan-01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7902' id='mega-menu-item-7902'>
																<a class="mega-menu-link" href="pricing-plan-02/index.html">Pricing Plan-02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7901' id='mega-menu-item-7901'>
																<a class="mega-menu-link" href="pricing-plan-03/index.html">Pricing Plan-03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5502' id='mega-menu-item-5502'>
																<a class="mega-menu-link" href="portfolio/index.html">Portfolio</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4929' id='mega-menu-item-4929'>
																<a class="mega-menu-link" href="portfolio-2column/index.html">Portfolio 2Column</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4930' id='mega-menu-item-4930'>
																<a class="mega-menu-link" href="portfolio/index.html">Portfolio 3Column</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-2-of-12' id='mega-menu-6540-0-3'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4931' id='mega-menu-item-4931'>
																<a class="mega-menu-link" href="portfolio-4column/index.html">Portfolio 4Column</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7903' id='mega-menu-item-7903'>
																<a class="mega-menu-link" href="contact/index.html">Contact Style 01</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7906' id='mega-menu-item-7906'>
																<a class="mega-menu-link" href="contact-style-two/index.html">Contact Style 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7905' id='mega-menu-item-7905'>
																<a class="mega-menu-link" href="contact-style-three/index.html">Contact Style 03</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7904' id='mega-menu-item-7904'>
																<a class="mega-menu-link" href="contact-style-four/index.html">Contact Style 04</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7907' id='mega-menu-item-7907'>
																<a class="mega-menu-link" href="contact-version-05/index.html">Contact Style 05</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-2-of-12' id='mega-menu-6540-0-4'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5735' id='mega-menu-item-5735'>
																<a class="mega-menu-link" href="team-member/index.html">Team Member</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5734' id='mega-menu-item-5734'>
																<a class="mega-menu-link" href="team-details/index.html">Team Details</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4900' id='mega-menu-item-4900'>
																<a class="mega-menu-link" href="case-study/index.html">Case Study</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-4909' id='mega-menu-item-4909'>
																<a class="mega-menu-link" href="faqs/index.html">FAQ’S</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7894' id='mega-menu-item-7894'>
																<a class="mega-menu-link" href="carrier/index.html">Carrier</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7895' id='mega-menu-item-7895'>
																<a class="mega-menu-link" href="carrier-details/index.html">Carrier Details</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-2-of-12' id='mega-menu-6540-0-5'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7896' id='mega-menu-item-7896'>
																<a class="mega-menu-link" href="faqs/index.html">FAQ’S</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7897' id='mega-menu-item-7897'>
																<a class="mega-menu-link" href="faqs-style-02/index.html">FAQ’S Style 02</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6392' id='mega-menu-item-6392'>
																<a class="mega-menu-link" href="shop/index.html">Shop</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6416' id='mega-menu-item-6416'>
																<a class="mega-menu-link" href="shop/index.html">Shop</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6414' id='mega-menu-item-6414'>
																<a class="mega-menu-link" href="checkout/index.html">Checkout</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-6415' id='mega-menu-item-6415'>
																<a class="mega-menu-link" href="cart/index.html">Cart</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-menu-megamenu mega-align-bottom-left mega-menu-grid mega-menu-item-6541' id='mega-menu-item-6541'>
										<a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Elements<span class="mega-indicator"></span>
										</a>
										<ul class="mega-sub-menu">
											<li class='mega-menu-row' id='mega-menu-6541-0'>
												<ul class="mega-sub-menu">
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-6541-0-0'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7929' id='mega-menu-item-7929'>
																<a class="mega-menu-link" href="features-box/index.html">Features Box</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7924' id='mega-menu-item-7924'>
																<a class="mega-menu-link" href="service-boxes/index.html">Service Boxes</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7944' id='mega-menu-item-7944'>
																<a class="mega-menu-link" href="icon-boxes/index.html">Icon Boxes</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7923' id='mega-menu-item-7923'>
																<a class="mega-menu-link" href="services-boxes-carousel/index.html">Services Boxes Carousel</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7925' id='mega-menu-item-7925'>
																<a class="mega-menu-link" href="team/index.html">Team</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7937' id='mega-menu-item-7937'>
																<a class="mega-menu-link" href="icons/index.html">Icons</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-6541-0-1'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7926' id='mega-menu-item-7926'>
																<a class="mega-menu-link" href="pricing-plans/index.html">Pricing Plans</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7927' id='mega-menu-item-7927'>
																<a class="mega-menu-link" href="testimonial/index.html">Testimonial</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7928' id='mega-menu-item-7928'>
																<a class="mega-menu-link" href="counter-boxes/index.html">Counter Boxes</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7941' id='mega-menu-item-7941'>
																<a class="mega-menu-link" href="image-box/index.html">Image Box</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7940' id='mega-menu-item-7940'>
																<a class="mega-menu-link" href="video/index.html">Video</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7938' id='mega-menu-item-7938'>
																<a class="mega-menu-link" href="tab/index.html">Tab</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-6541-0-2'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7930' id='mega-menu-item-7930'>
																<a class="mega-menu-link" href="progress-bars/index.html">Progress Bars</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7931' id='mega-menu-item-7931'>
																<a class="mega-menu-link" href="faqs/index.html">FAQ’S</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7943' id='mega-menu-item-7943'>
																<a class="mega-menu-link" href="title/index.html">Title</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7942' id='mega-menu-item-7942'>
																<a class="mega-menu-link" href="list/index.html">Lists</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7939' id='mega-menu-item-7939'>
																<a class="mega-menu-link" href="accordion/index.html">Accordion</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7933' id='mega-menu-item-7933'>
																<a class="mega-menu-link" href="call-do-action/index.html">Call Do Action</a>
															</li>
														</ul>
													</li>
													<li class='mega-menu-column mega-menu-columns-3-of-12' id='mega-menu-6541-0-3'>
														<ul class="mega-sub-menu">
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7932' id='mega-menu-item-7932'>
																<a class="mega-menu-link" href="buttons/index.html">Buttons</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7935' id='mega-menu-item-7935'>
																<a class="mega-menu-link" href="pie-chart/index.html">Pie Chart</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7934' id='mega-menu-item-7934'>
																<a class="mega-menu-link" href="pie-chart-2/index.html">Pie Chart</a>
															</li>
															<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7936' id='mega-menu-item-7936'>
																<a class="mega-menu-link" href="clients/index.html">Clients</a>
															</li>
														</ul>
													</li>
												</ul>
											</li>
										</ul>
									</li>
									<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-5493' id='mega-menu-item-5493'>
										<a class="mega-menu-link" href="blog-grid/index.html" aria-haspopup="true" aria-expanded="false" tabindex="0">Blog<span class="mega-indicator"></span>
										</a>
										<ul class="mega-sub-menu">
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5495' id='mega-menu-item-5495'>
												<a class="mega-menu-link" href="blog-grid/index.html">Blog Grid</a>
											</li>
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5496' id='mega-menu-item-5496'>
												<a class="mega-menu-link" href="blog-list/index.html">Blog List</a>
											</li>
											<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-5494' id='mega-menu-item-5494'>
												<a class="mega-menu-link" href="blog-2-column/index.html">Blog 2 Column</a>
											</li>
										</ul>
									</li>
									<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-4901' id='mega-menu-item-4901'>
										<a class="mega-menu-link" href="contact/index.html" tabindex="0">Contact</a>
									</li>
								</ul>
							</div>
							<div class="em-quearys-top msin-menu-search">
								<div class="em-top-quearys-area">
									<ul class="em-header-quearys">
										<li class="em-quearys-menu">
											<i class="fa fa-search t-quearys"></i>
											<i class="fa fa-close  t-close em-s-hidden"></i>
										</li>
									</ul>
									<!--Search Form-->
									<div class="em-quearys-inner">
										<div class="em-quearys-form">
											<form class="top-form-control" action="https://wp.dreamitsolution.net/techno/" method="get">
												<input type="text" placeholder="Type Your Keyword" name="s" value=""/>
												<button class="top-quearys-style" type="submit">
													<i class="fa fa-search"></i>
												</button>
											</form>
										</div>
									</div>
									<!--End of Search Form-->
								</div>
								<ul id="site-header-cart" class="techno-hmini">
									<a class="cart-contents" href="cart/index.html" title="View your shopping cart">
										<span class="fa fa-shopping-basket"></span>
										<span class="count">38</span>
									</a>
									<li class="techno-mini-cart-items">
										<div class="widget woocommerce widget_shopping_cart">
											<div class="widget_shopping_cart_content"></div>
										</div>
									</li>
								</ul>
							</div>


						</nav>
					</div>
				</div>

			</div>
		</div>
	</div>

	<!-- HEADER TRANSPARENT WITH SEARCH -->

	<!-- MOBILE MENU AREA -->
	<div class="home-2 mbm d-sm-block d-md-block d-lg-none header_area main-menu-area">
		<div class="menu_area mobile-menu">
			<nav>
				<ul id="menu-main-menu" class="main-menu clearfix">
					<li id="menu-item-5408" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-5408">
						<a href="index.html" aria-current="page">Home</a>
						<ul class="sub-menu">
							<li id="menu-item-5407" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-7 current_page_item menu-item-5407">
								<a href="index.html" aria-current="page">Main Demo</a>
							</li>
							<li id="menu-item-11777" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11777">
								<a href="digital-agency-2/index.html">Digital Agency (New)</a>
							</li>
							<li id="menu-item-4890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4890">
								<a href="it-solution-demo-02/index.html">IT Solution Demo 02</a>
							</li>
							<li id="menu-item-4891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4891">
								<a href="it-solution-demo-03/index.html">IT Solution Demo 03</a>
							</li>
							<li id="menu-item-4919" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4919">
								<a href="it-solution-demo-04/index.html">IT Solution Demo 04</a>
							</li>
							<li id="menu-item-4913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4913">
								<a href="home-4/index.html">IT Solution Demo 05</a>
							</li>
							<li id="menu-item-4917" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4917">
								<a href="home-8/index.html">IT Solution Demo 06</a>
							</li>
							<li id="menu-item-5406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5406">
								<a href="it-solution-demo-07/index.html">IT Solution Demo 07</a>
							</li>
							<li id="menu-item-4916" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4916">
								<a href="it-solution-demo-08/index.html">IT Solution Demo 08</a>
							</li>
							<li id="menu-item-4911" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4911">
								<a href="it-solution-demo-09/index.html">IT Solution Demo 09</a>
							</li>
							<li id="menu-item-4923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4923">
								<a href="it-solution-demo-10/index.html">IT Solution Demo 10</a>
							</li>
							<li id="menu-item-4912" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4912">
								<a href="home-3/index.html">IT Solution Demo 11</a>
							</li>
							<li id="menu-item-4914" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4914">
								<a href="it-solution-demo-12/index.html">IT Solution Demo 12</a>
							</li>
							<li id="menu-item-4915" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4915">
								<a href="it-solution-demo-13/index.html">IT Solution Demo 13</a>
							</li>
							<li id="menu-item-6172" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6172">
								<a href="it-solution-demo-new-01/index.html">IT Solution Demo 14</a>
							</li>
							<li id="menu-item-6171" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6171">
								<a href="it-solution-demo-new-02/index.html">IT Solution Demo 15</a>
							</li>
							<li id="menu-item-4910" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4910">
								<a href="demo-animate-version-01/index.html">Animate Demo 01</a>
							</li>
							<li id="menu-item-4906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4906">
								<a href="demo-dark-version-01/index.html">Dark Version 01</a>
							</li>
							<li id="menu-item-4907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4907">
								<a href="demo-dark-version-02/index.html">Dark Version 02</a>
							</li>
							<li id="menu-item-4898" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4898">
								<a href="business-demo-01/index.html">Business Demo 01</a>
							</li>
							<li id="menu-item-4905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4905">
								<a href="cyber-security-new/index.html">Demo Cyber Security</a>
							</li>
							<li id="menu-item-4928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4928">
								<a href="odoo-erp-demo/index.html">Odoo ERP Demo</a>
							</li>
							<li id="menu-item-4918" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4918">
								<a href="it-startup-demo-01/index.html">IT Startup Demo 01</a>
							</li>
							<li id="menu-item-4921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4921">
								<a href="it-startup-demo-03/index.html">IT Startup Demo 03</a>
							</li>
							<li id="menu-item-4924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4924">
								<a href="it-startup-demo-02/index.html">IT Startup Demo 02</a>
							</li>
							<li id="menu-item-11862" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11862">
								<a href="https://wp.dreamitsolution.net/techno-multipurpose/techno-crypto/">Crypto Currency 01</a>
							</li>
							<li id="menu-item-11863" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11863">
								<a href="https://wp.dreamitsolution.net/techno-multipurpose/techno-crypto/home-2/">Crypto Currency 02</a>
							</li>
							<li id="menu-item-5728" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5728">
								<a href="demo-landing-page-01/index.html">Landing Page Demo 01</a>
							</li>
							<li id="menu-item-5730" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5730">
								<a href="landing-page-demo-01/index.html">Landing Page Demo 02</a>
							</li>
							<li id="menu-item-5727" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5727">
								<a href="landing-page-demo-03/index.html">Landing Page Demo 03</a>
							</li>
							<li id="menu-item-5726" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5726">
								<a href="landing-page-demo-04/index.html">Landing Page Demo 04</a>
							</li>
							<li id="menu-item-5725" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5725">
								<a href="landing-page-demo-05/index.html">Landing Page Demo 05</a>
							</li>
							<li id="menu-item-5724" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5724">
								<a href="landing-page-demo-06/index.html">Landing Page Demo 06</a>
							</li>
							<li id="menu-item-5723" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5723">
								<a href="landing-page-demo-07/index.html">Landing Page Demo 07</a>
							</li>
							<li id="menu-item-5722" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5722">
								<a href="landing-page-demo-08/index.html">Landing Page Demo 08</a>
							</li>
							<li id="menu-item-5721" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5721">
								<a href="landing-page-demo-09/index.html">Landing Page Demo 09</a>
							</li>
							<li id="menu-item-10972" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10972">
								<a href="home-seo/index.html">Home SEO (New)</a>
							</li>
							<li id="menu-item-10973" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10973">
								<a href="insurance/index.html">Insurance (New)</a>
							</li>
							<li id="menu-item-10974" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10974">
								<a href="new-startup/index.html">Software &#038; Startup(New)</a>
							</li>
							<li id="menu-item-10975" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10975">
								<a href="new-it-solution/index.html">IT Solution (New)</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-5491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5491">
						<a href="about-01/index.html">Company</a>
					</li>
					<li id="menu-item-5497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5497">
						<a href="service-one/index.html">Services</a>
						<ul class="sub-menu">
							<li id="menu-item-4922" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4922">
								<a href="it-service-2/index.html">IT Service</a>
							</li>
							<li id="menu-item-4920" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4920">
								<a href="industries/index.html">Industries</a>
							</li>
							<li id="menu-item-4899" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4899">
								<a href="business-solution/index.html">Business Solution</a>
							</li>
							<li id="menu-item-4926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4926">
								<a href="managed-it-services/index.html">Managed IT Services</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-6540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6540">
						<a href="#">Pages</a>
						<ul class="sub-menu">
							<li id="menu-item-4892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4892">
								<a href="about-01/index.html">About Us Style 01</a>
							</li>
							<li id="menu-item-4894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4894">
								<a href="about-02/index.html">About Us Style 02</a>
							</li>
							<li id="menu-item-4893" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4893">
								<a href="about-03/index.html">About Us Style 03</a>
							</li>
							<li id="menu-item-7890" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7890">
								<a href="about-04/index.html">About Us Style 04</a>
							</li>
							<li id="menu-item-7891" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7891">
								<a href="about-05/index.html">About Us Style 05</a>
							</li>
							<li id="menu-item-5736" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5736">
								<a href="why-choose-us/index.html">Why Choose Us</a>
							</li>
							<li id="menu-item-6396" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6396">
								<a href="service-one/index.html">Service Style 01</a>
							</li>
							<li id="menu-item-6398" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6398">
								<a href="service-two/index.html">Service Style 02</a>
							</li>
							<li id="menu-item-6397" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6397">
								<a href="service-three/index.html">Service Style 03</a>
							</li>
							<li id="menu-item-6395" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6395">
								<a href="service-four/index.html">Service Style 04</a>
							</li>
							<li id="menu-item-7892" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7892">
								<a href="service-five/index.html">Service Style 05</a>
							</li>
							<li id="menu-item-5732" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5732">
								<a href="service-details/index.html">Service Details</a>
							</li>
							<li id="menu-item-5502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5502">
								<a href="portfolio/index.html">Portfolio</a>
							</li>
							<li id="menu-item-4929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4929">
								<a href="portfolio-2column/index.html">Portfolio 2Column</a>
							</li>
							<li id="menu-item-4930" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4930">
								<a href="portfolio/index.html">Portfolio 3Column</a>
							</li>
							<li id="menu-item-4931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4931">
								<a href="portfolio-4column/index.html">Portfolio 4Column</a>
							</li>
							<li id="menu-item-5735" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5735">
								<a href="team-member/index.html">Team Member</a>
							</li>
							<li id="menu-item-5734" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5734">
								<a href="team-details/index.html">Team Details</a>
							</li>
							<li id="menu-item-7903" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7903">
								<a href="contact/index.html">Contact Style 01</a>
							</li>
							<li id="menu-item-7906" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7906">
								<a href="contact-style-two/index.html">Contact Style 02</a>
							</li>
							<li id="menu-item-7905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7905">
								<a href="contact-style-three/index.html">Contact Style 03</a>
							</li>
							<li id="menu-item-7904" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7904">
								<a href="contact-style-four/index.html">Contact Style 04</a>
							</li>
							<li id="menu-item-7907" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7907">
								<a href="contact-version-05/index.html">Contact Style 05</a>
							</li>
							<li id="menu-item-6392" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6392">
								<a href="shop/index.html">Shop</a>
							</li>
							<li id="menu-item-6416" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6416">
								<a href="shop/index.html">Shop</a>
							</li>
							<li id="menu-item-6414" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6414">
								<a href="checkout/index.html">Checkout</a>
							</li>
							<li id="menu-item-6415" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6415">
								<a href="cart/index.html">Cart</a>
							</li>
							<li id="menu-item-4909" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4909">
								<a href="faqs/index.html">FAQ’S</a>
							</li>
							<li id="menu-item-4900" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4900">
								<a href="case-study/index.html">Case Study</a>
							</li>
							<li id="menu-item-4933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4933">
								<a href="pricing-plan-01/index.html">Pricing Plan-01</a>
							</li>
							<li id="menu-item-7902" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7902">
								<a href="pricing-plan-02/index.html">Pricing Plan-02</a>
							</li>
							<li id="menu-item-7901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7901">
								<a href="pricing-plan-03/index.html">Pricing Plan-03</a>
							</li>
							<li id="menu-item-7894" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7894">
								<a href="carrier/index.html">Carrier</a>
							</li>
							<li id="menu-item-7895" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7895">
								<a href="carrier-details/index.html">Carrier Details</a>
							</li>
							<li id="menu-item-7896" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7896">
								<a href="faqs/index.html">FAQ’S</a>
							</li>
							<li id="menu-item-7897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7897">
								<a href="faqs-style-02/index.html">FAQ’S Style 02</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-6541" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6541">
						<a href="#">Elements</a>
						<ul class="sub-menu">
							<li id="menu-item-7923" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7923">
								<a href="services-boxes-carousel/index.html">Services Boxes Carousel</a>
							</li>
							<li id="menu-item-7924" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7924">
								<a href="service-boxes/index.html">Service Boxes</a>
							</li>
							<li id="menu-item-7925" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7925">
								<a href="team/index.html">Team</a>
							</li>
							<li id="menu-item-7926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7926">
								<a href="pricing-plans/index.html">Pricing Plans</a>
							</li>
							<li id="menu-item-7927" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7927">
								<a href="testimonial/index.html">Testimonial</a>
							</li>
							<li id="menu-item-7928" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7928">
								<a href="counter-boxes/index.html">Counter Boxes</a>
							</li>
							<li id="menu-item-7929" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7929">
								<a href="features-box/index.html">Features Box</a>
							</li>
							<li id="menu-item-7930" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7930">
								<a href="progress-bars/index.html">Progress Bars</a>
							</li>
							<li id="menu-item-7931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7931">
								<a href="faqs/index.html">FAQ’S</a>
							</li>
							<li id="menu-item-7932" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7932">
								<a href="buttons/index.html">Buttons</a>
							</li>
							<li id="menu-item-7933" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7933">
								<a href="call-do-action/index.html">Call Do Action</a>
							</li>
							<li id="menu-item-7934" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7934">
								<a href="pie-chart-2/index.html">Pie Chart</a>
							</li>
							<li id="menu-item-7935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7935">
								<a href="pie-chart/index.html">Pie Chart</a>
							</li>
							<li id="menu-item-7936" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7936">
								<a href="clients/index.html">Clients</a>
							</li>
							<li id="menu-item-7937" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7937">
								<a href="icons/index.html">Icons</a>
							</li>
							<li id="menu-item-7938" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7938">
								<a href="tab/index.html">Tab</a>
							</li>
							<li id="menu-item-7939" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7939">
								<a href="accordion/index.html">Accordion</a>
							</li>
							<li id="menu-item-7940" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7940">
								<a href="video/index.html">Video</a>
							</li>
							<li id="menu-item-7941" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7941">
								<a href="image-box/index.html">Image Box</a>
							</li>
							<li id="menu-item-7942" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7942">
								<a href="list/index.html">Lists</a>
							</li>
							<li id="menu-item-7943" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7943">
								<a href="title/index.html">Title</a>
							</li>
							<li id="menu-item-7944" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7944">
								<a href="icon-boxes/index.html">Icon Boxes</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-5493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5493">
						<a href="blog-grid/index.html">Blog</a>
						<ul class="sub-menu">
							<li id="menu-item-5495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5495">
								<a href="blog-grid/index.html">Blog Grid</a>
							</li>
							<li id="menu-item-5496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5496">
								<a href="blog-list/index.html">Blog List</a>
							</li>
							<li id="menu-item-5494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5494">
								<a href="blog-2-column/index.html">Blog 2 Column</a>
							</li>
						</ul>
					</li>
					<li id="menu-item-4901" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4901">
						<a href="contact/index.html">Contact</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- END MOBILE MENU AREA  -->
</div>
