<footer itemtype="https://schema.org/WPFooter" itemscope="itemscope" id="colophon" role="contentinfo">
	<div class='footer-width-fixer'>
		<div data-elementor-type="wp-post" data-elementor-id="10450" class="elementor elementor-10450" data-elementor-settings="[]">
			<div class="elementor-inner">
				<div class="elementor-section-wrap">
					<section class="elementor-section elementor-top-section elementor-element elementor-element-35f0c87 footer elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="35f0c87" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-default">
							<div class="elementor-row">
								<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-2f6dab5" data-id="2f6dab5" data-element_type="column">
									<div class="elementor-column-wrap elementor-element-populated">
										<div class="elementor-widget-wrap">
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-db069e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="db069e9" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-bb8e95b" data-id="bb8e95b" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-9f04bdf elementor-widget elementor-widget-image" data-id="9f04bdf" data-element_type="widget" data-widget_type="image.default">
																		<div class="elementor-widget-container">
																			<div class="elementor-image">
																				<a href="index.html">
																					<img width="161" height="32" src="wp-content/uploads/2022/07/logo2-1.png" class="attachment-large size-large" alt="" loading="lazy"/>
																				</a>
																			</div>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-c51c71c elementor-widget elementor-widget-text-editor" data-id="c51c71c" data-element_type="widget" data-widget_type="text-editor.default">
																		<div class="elementor-widget-container">
																			<div class="elementor-text-editor elementor-clearfix">
																				<p>Completely strategize client-cent Phosfluorescently iterate efficient<br/>internal or organic.</p>
																			</div>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-4b46e22 elementor-widget elementor-widget-heading" data-id="4b46e22" data-element_type="widget" data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h2 class="elementor-heading-title elementor-size-default">Follow Us</h2>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-646eb7d e-grid-align-left elementor-shape-rounded elementor-grid-0 elementor-widget elementor-widget-social-icons" data-id="646eb7d" data-element_type="widget" data-widget_type="social-icons.default">
																		<div class="elementor-widget-container">
																			<div class="elementor-social-icons-wrapper elementor-grid">
																				<span class="elementor-grid-item">
																					<a class="elementor-icon elementor-social-icon elementor-social-icon-flaticon-facebook-4 elementor-repeater-item-b0435c4" href="#" rel="nofollow">
																						<span class="elementor-screen-only">Flaticon-facebook-4</span>
																						<i class="flaticon flaticon-facebook-4"></i>
																					</a>
																				</span>
																				<span class="elementor-grid-item">
																					<a class="elementor-icon elementor-social-icon elementor-social-icon-flaticon-instagram-logo elementor-repeater-item-ef9ad52" href="#" rel="nofollow">
																						<span class="elementor-screen-only">Flaticon-instagram-logo</span>
																						<i class="flaticon flaticon-instagram-logo"></i>
																					</a>
																				</span>
																				<span class="elementor-grid-item">
																					<a class="elementor-icon elementor-social-icon elementor-social-icon-flaticon-twitter elementor-repeater-item-7443945" href="#" rel="nofollow">
																						<span class="elementor-screen-only">Flaticon-twitter</span>
																						<i class="flaticon flaticon-twitter"></i>
																					</a>
																				</span>
																				<span class="elementor-grid-item">
																					<a class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-repeater-item-ef171ba" href="#" rel="nofollow">
																						<span class="elementor-screen-only">Youtube</span>
																						<i class="fab fa-youtube"></i>
																					</a>
																				</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-06ad2a5" data-id="06ad2a5" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-c6cafb4 elementor-widget elementor-widget-heading" data-id="c6cafb4" data-element_type="widget" data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h2 class="elementor-heading-title elementor-size-default">Quick Links</h2>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-15e297a elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="15e297a" data-element_type="widget" data-widget_type="icon-list.default">
																		<div class="elementor-widget-container">
																			<ul class="elementor-icon-list-items">
																				<li class="elementor-icon-list-item">
																					<a href="#">

																						<span class="elementor-icon-list-icon">
																							<i aria-hidden="true" class="flaticon flaticon-right-arrow"></i>
																						</span>
																						<span class="elementor-icon-list-text">Home</span>
																					</a>
																				</li>
																				<li class="elementor-icon-list-item">
																					<a href="#">

																						<span class="elementor-icon-list-icon">
																							<i aria-hidden="true" class="flaticon flaticon-right-arrow"></i>
																						</span>
																						<span class="elementor-icon-list-text">About Us</span>
																					</a>
																				</li>
																				<li class="elementor-icon-list-item">
																					<a href="#">

																						<span class="elementor-icon-list-icon">
																							<i aria-hidden="true" class="flaticon flaticon-right-arrow"></i>
																						</span>
																						<span class="elementor-icon-list-text">Contact Us</span>
																					</a>
																				</li>
																				<li class="elementor-icon-list-item">
																					<a href="#">

																						<span class="elementor-icon-list-icon">
																							<i aria-hidden="true" class="flaticon flaticon-right-arrow"></i>
																						</span>
																						<span class="elementor-icon-list-text">Services</span>
																					</a>
																				</li>
																				<li class="elementor-icon-list-item">
																					<a href="#">

																						<span class="elementor-icon-list-icon">
																							<i aria-hidden="true" class="flaticon flaticon-right-arrow"></i>
																						</span>
																						<span class="elementor-icon-list-text">Our Team</span>
																					</a>
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-d24cfa0" data-id="d24cfa0" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-e935da5 elementor-widget elementor-widget-heading" data-id="e935da5" data-element_type="widget" data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h2 class="elementor-heading-title elementor-size-default">Popular Post</h2>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-e4609bb elementor-widget elementor-widget-wp-widget-em_recent_post_widget" data-id="e4609bb" data-element_type="widget" data-widget_type="wp-widget-em_recent_post_widget.default">
																		<div class="elementor-widget-container">
																			<div class="single-widget-item">

																				<div class="recent-post-item">
																					<div class="recent-post-image">
																						<a href="tiktok-illegally-collecting-data-sharing/index.html">

																							<img width="80" height="80" src="wp-content/uploads/2020/10/blog06-80x80.jpg" class="attachment-techno-recent-image size-techno-recent-image wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-80x80.jpg 80w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-300x300.jpg 300w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-100x100.jpg 100w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-150x150.jpg 150w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-450x450.jpg 450w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-106x106.jpg 106w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog06-560x550.jpg 560w" sizes="(max-width: 80px) 100vw, 80px"/>
																						</a>

																					</div>
																					<div class="recent-post-text">
																						<h4>
																							<a href="tiktok-illegally-collecting-data-sharing/index.html">
																								Tiktok Illegally collecting data sharing
																							</a>
																						</h4>
																						<span class="rcomment">October 22, 2020</span>
																					</div>
																				</div>

																				<div class="recent-post-item">
																					<div class="recent-post-image">
																						<a href="how-can-use-our-latest-news-by-techno/index.html">

																							<img width="80" height="80" src="wp-content/uploads/2020/10/blog1-80x80.jpg" class="attachment-techno-recent-image size-techno-recent-image wp-post-image" alt="" decoding="async" loading="lazy" srcset="https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-80x80.jpg 80w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-300x300.jpg 300w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-100x100.jpg 100w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-150x150.jpg 150w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-450x450.jpg 450w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-106x106.jpg 106w, https://wp.dreamitsolution.net/techno/wp-content/uploads/2020/10/blog1-560x550.jpg 560w" sizes="(max-width: 80px) 100vw, 80px"/>
																						</a>

																					</div>
																					<div class="recent-post-text">
																						<h4>
																							<a href="how-can-use-our-latest-news-by-techno/index.html">
																								How can use our latest news by
																							</a>
																						</h4>
																						<span class="rcomment">October 22, 2020</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-2139fa5" data-id="2139fa5" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-22c737c elementor-widget elementor-widget-heading" data-id="22c737c" data-element_type="widget" data-widget_type="heading.default">
																		<div class="elementor-widget-container">
																			<h2 class="elementor-heading-title elementor-size-default">Contact Info</h2>
																		</div>
																	</div>
																	<div class="elementor-element elementor-element-9bf67b3 elementor-widget elementor-widget-iconbox" data-id="9bf67b3" data-element_type="widget" data-widget_type="iconbox.default">
																		<div class="elementor-widget-container">


																			<div class="icon-box">

																				<div class="icon-box-icon">

																					<div class="icon">
																						<i class="flaticon flaticon-placeholder"></i>
																					</div>


																				</div>

																				<div class="icon-box-content">
																					<div class="title">
																						<h2>Location</h2>
																					</div>
																					<div class="description">
																						<p>55 Main Street, New York.</p>
																					</div>
																				</div>
																			</div>


																		</div>
																	</div>
																	<div class="elementor-element elementor-element-ef164ca elementor-widget elementor-widget-iconbox" data-id="ef164ca" data-element_type="widget" data-widget_type="iconbox.default">
																		<div class="elementor-widget-container">


																			<div class="icon-box">

																				<div class="icon-box-icon">

																					<div class="icon">
																						<i class="flaticon flaticon-communications"></i>
																					</div>


																				</div>

																				<div class="icon-box-content">
																					<div class="title">
																						<h2>Email Us</h2>
																					</div>
																					<div class="description">
																						<p>example@gmail.com</p>
																					</div>
																				</div>
																			</div>


																		</div>
																	</div>
																	<div class="elementor-element elementor-element-78e59a1 elementor-widget elementor-widget-iconbox" data-id="78e59a1" data-element_type="widget" data-widget_type="iconbox.default">
																		<div class="elementor-widget-container">


																			<div class="icon-box">

																				<div class="icon-box-icon">

																					<div class="icon">
																						<i class="flaticon flaticon-call"></i>
																					</div>


																				</div>

																				<div class="icon-box-content">
																					<div class="title">
																						<h2>Phone Us</h2>
																					</div>
																					<div class="description">
																						<p>+012 (345) 678 99</p>
																					</div>
																				</div>
																			</div>


																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
											<section class="elementor-section elementor-inner-section elementor-element elementor-element-5c19841 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="5c19841" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-row">
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-58756fd" data-id="58756fd" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-cdad299 elementor-widget elementor-widget-text-editor" data-id="cdad299" data-element_type="widget" data-widget_type="text-editor.default">
																		<div class="elementor-widget-container">
																			<div class="elementor-text-editor elementor-clearfix">
																				<p>© 2022 Techno.All Rights Reserved.</p>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-37c3a54" data-id="37c3a54" data-element_type="column">
															<div class="elementor-column-wrap elementor-element-populated">
																<div class="elementor-widget-wrap">
																	<div class="elementor-element elementor-element-296457a elementor-icon-list--layout-inline elementor-align-right elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list" data-id="296457a" data-element_type="widget" data-widget_type="icon-list.default">
																		<div class="elementor-widget-container">
																			<ul class="elementor-icon-list-items elementor-inline-items">
																				<li class="elementor-icon-list-item elementor-inline-item">
																					<span class="elementor-icon-list-text">Privacy Policy</span>
																				</li>
																				<li class="elementor-icon-list-item elementor-inline-item">
																					<span class="elementor-icon-list-text">Terms & Conditions</span>
																				</li>
																				<li class="elementor-icon-list-item elementor-inline-item">
																					<span class="elementor-icon-list-text">Contact Us</span>
																				</li>
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
	</div>
</footer>
